* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f5f5f5;
}

.header {
  display: flex;
  justify-content: center;
  margin: 3rem 0 2rem;
}

.header__title {
  font-size: 50px;
  font-weight: 700;
  color: #333;
}

.main {
  display: flex;
  justify-content: space-evenly;
}

.main__actions {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 30%;
  height: 350px;
  padding-top: 3rem;
}

input[type='color'] {
  -webkit-appearance: none;
  border: none;
  padding-bottom: 3rem;
  cursor: pointer;
}

input[type='color']::-webkit-color-swatch-wrapper {
  padding: 0;
}

input[type="color"]::-webkit-color-swatch {
  width: 150px;
  height: 50px;
  border-radius: 50px;
  outline: none;
}

input[type='color']:hover {
  transform: scale(1.1);
  transition: .3s ease-in-out;
}

button {
  width: 150px;
  height: 40px;
  border-radius: 50px;
  background-color: #eee;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  color: #222;
  font-size: 16px;
}

button.active {
  width: 150px;
  height: 40px;
  border-radius: 50px;
  background-color: #2c2020;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  color: #fff;
  font-size: 16px;
}

button:hover {
  transform: scale(1.1);
  transition: .3s ease-in-out;
}

input[type='range'] {
  -webkit-appearance: none;
  background-color: #2c2020;
  cursor: pointer;
}

input[type='range']::-webkit-slider-runnable-track {
  height: 10px;
  border: 1px solid #2c2020;
  border-radius: 25px;
  background: #fff;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 24px;
  height: 24px;
  border-radius: 25px;
  margin-top: -8px;
  background: #2c2020;
}

.block-element {
  user-select: none;
}

.paper__block {
  display: grid;
  width: 500px;
  height: 400px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.footer {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}

.made__by {
  font-size: 20px;
  color: #333;
}

.made__by__name {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: 600;
}